<div onclick="followme();">
    <h6 id="follow-me">Follow me</h6>
    {% include easter-egg.html %}

</div>
<link rel="stylesheet" href="{{ '/assets/css/links.css' | relative_url }}">
<div class="row">
  <div class="container grid">
    {%- for account in site.data.links.sites -%}
      <div class="d-md-inline-block social-button-{{- account.service }} px-1 {% if account.order %} order-{{- account.order -}}{%- endif -%}">

        <a id="social-button-{{ account.service }}" class="btn btn-dark {% if account.order %} order-{{- account.order -}}{%- endif -%}" title="{{ account.title }}" href="{{ account.href }}" target="_blank" {% if account.style %}style="{{account.style}}"{% endif %} {% if account.data %}{{ account.data }}{% endif %}>
          {%- if account.fa-icon -%}
              <i class="{{ account.fa-icon }}"></i>
          {%- endif -%}
          {%- if account.image -%}
              <img class="{{- account.image.class -}}" src="{{- account.image.path -}}" style="height:{{account.image-size.height}}; width:{{account.image-size.width}};"/>
          {%- endif -%}
          {%- if account.html -%}
            {{- account.html -}}
          {%- endif -%}
          {%- if site.data.links.settings.text == true -%}
            {%- if account.text -%}
              <p>{{- account.text -}}</p>
            {%- endif -%}
          {%- endif -%}
        </a>
      </div>
    {%- endfor -%}
  </div>
</div>

<!--
{% if site.social.instagram %}
  <li>
    <a title="{{ site.social.instagram }} on Instagram" href="https://instagram.com/{{ site.social.instagram }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
  </li>
{% endif %}

{% if site.social.lastfm %}
  <li>
    <a title="{{ site.social.lastfm }} on Last.fm" href="https://www.lastfm.com/user/{{ site.social.lastfm }}" target="_blank"><i class="fa fa-lastfm fa-2x"></i></a>
  </li>
{% endif %} -->
<!---<li>
    <a title="NixStats Affiliate" href="https://nixstats.com/r/32628" target="_blank">
        <img id="nixstats" src="{{ '/assets/images/nixstats.png' | relative_url }}"/>
    </a>
</li>-->
