---
---

div#resume-sidebar > ul {
  list-style-position: inside;
  padding-left: 0;
  text-align: right;
}

.dnsbl-initial {
  font-weight: bold;
}

.xp {
  .xp-desc {

  }

  .xp-duration {

  }
}
div#resume {
  column-count: 1;
  div.list-group {
    border-style: none !important;
    background: none !important;
    border-color: none !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    border-style: none !important;
  }
  div.list-group-item {
    border-style: none !important;
    background: none !important;
    border-color: none !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    border-style: none !important;
  }
}
div#resume {

}
@media print {
  .list-group, .list-group-item {
    border-style: none;
  }
  #breadcrumbs {
    display: none;
  }

  #sidebar {
    display: none;
  }

  #footer-distributed {
    display: none;
  }

  #sidebar-recent-posts {
    display: none;
  }

  #sidebar-tag-cloud {
    display: none;
  }
  #sidebar-he-net-cert {
    display:none;
  }
  #sidebar-vultr-aff {
    display:none;
  }
  div#resume > div#contact {
    position: relative;
    left: 60%;
    right: 0;
    color: #000000;
  }

  div#xp-edu-prohob {
    width: 60%;
    color: #000000;
    div#xp-edu-prohob > div.list-group,li.list-group-item {
      border-style: none;
    }
  }

  div#resume-sidebar {
    width: 40%;
    color: #000000;
  }
  div#resume-sidebar > ul {
    list-style-position: inside;
    padding-left: 0;
  }
}
