{% include header.html %}
<div class="wrapper">
    <div class="content" id="content-div">
        <div class="container-fluid">
            <div class="row">
                {% if page.sidebar == 'false' %}
                    <div class="col-md-12 d-inline-block">
                {% else %}
                    <div class="col-md-9 d-inline-block">
                {% endif %}
                    <div id="breadcrumbs">
                        {% include head_breadcrumb.html %}
                    </div>
                    <div class="card px-1 py-1 p-sm-2 bg-dark">
                        {{ content }}
                    </div>
                </div>
                {% if page.sidebar != 'false' %}
                <div id="sidebar" class="col-md-3 d-sm-block d-xs-block d-md-block">
                    {% include sidebar.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% include footer.html %}